html, body {
    /*background: linear-gradient(-45deg, #ec5121, #0e71ec, #102133, #0e71ec);
    background-size: 400% 400%;*/
    /*-webkit-animation: Gradient 30s ease infinite;
    -moz-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;*/
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans';
    font-weight: 300;
}

body {
    /*background: #080808;*/
    /*background: #171717;*/
    background: #000000;
}

header {
    background: #000000;
    height: 120px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #ddd;

}

#appContainer {
    padding-top: 120px;
}

@media screen and (max-width: 900px) {
    #main {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .sectionPost img {
      max-width: 250px !important;
    }
    .sectionText {
      padding-left: 2% !important;
      padding-right: 2% !important;
    }
    header {
      height: 100px;
    }
    #appContainer {
      padding-top: 100px;
    }
}

.listenButton {
  background: transparent;
  border: 1px solid #c7c7c7;
  color: white !important;
  width: 100px;
  padding: 10px;
  margin: 0 auto;
  transition: .5s ease-in-out;
  cursor: pointer;
  max-width: 250px;
  width: 100%;
}

.listenButton a {
  color: white;
}

.listenButton:hover a {
  color: black;
  text-decoration: none;
}

.listenButton:hover {
  background: white;
  border: 1px solid black;
  color: black !important;
}

.singleButtons {
  margin-bottom: 50px;
}

.singleButton {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.section {
    min-height: 300px;
    display: block;
    overflow: auto;
}

.sectionTitle {
    text-align: center;
    font-weight: bold;
    font-family: phosphate;
    color: #FFF;
    background: #000;
    padding: 20px;
    font-size: 30px;
    border-top: 1px solid #fe2c0e;
    border-bottom: 1px solid #fe2c0e;
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: inset 150px 0px 150px -50px #171717,
    inset -150px 0px 150px -50px #171717;
}

.sectionPageTitle {
  text-align: center;
  font-weight: bold;
  font-family: phosphate;
  color: #FFF;
  background: #458496;
  padding: 20px;
  font-size: 30px;
  margin: 0;
  box-shadow: inset 150px 0px 150px -50px #171717,
  inset -150px 0px 150px -50px #171717;
}

.socialButtons {
    padding: 10px;
    text-align: center;
}

.socialButton {
    padding: 12px;
    font-size: 20px;
    width: 50px;
    text-align: center;
}

.socialButton p {
  margin-top: 5px;
  font-size: 11px;
  font-family: phosphate;
}

.socialButton a {
    text-decoration: none;
}

.fa-facebook {
    color: #2967e8;
    border: 1px solid transparent;
    padding: 5px;
}

.fa-facebook:hover {
    color: white;
    background: #2967e8;
    border-radius: 20%;
    border: 1px solid #2967e8;
    transition: all .7s ease;
}

.fa-youtube {
    color: #FF0000;
    border: 1px solid transparent;
    padding: 5px;
}

.fa-youtube:hover {
    color: white;
    background: #FF0000;
    border-radius: 20%;
    border: 1px solid #FF0000;
    transition: all .7s ease;
}

.fa-youtube-square {
    color: #FF0000;
    border: 1px solid transparent;
    padding: 5px;
}

.fa-youtube-square:hover {
    color: white;
    background: #FF0000;
    border-radius: 20%;
    border: 1px solid #FF0000;
    transition: all .7s ease;
}

.fa-instagram {
    color: #e4405f;
    border: 1px solid transparent;
    padding: 5px
}

.fa-instagram:hover {
    color: white;
    background: #e4405f;
    border-radius: 20%;
    border: 1px solid #e4405f;
    transition: all .7s ease;
}

.fa-envelope {
    color: #337ab7;
    border: 1px solid transparent;
    padding: 5px;
}

.fa-envelope:hover {
    color: white;
    background: #337ab7;
    border-radius: 20%;
    border: 1px solid #337ab7;
    transition: all .7s ease;
}

.fa-spotify {
    color: #00d000;
    border: 1px solid transparent;
    padding: 5px;
}

.fa-spotify:hover {
    color: white;
    background: #00d000;
    border-radius: 20%;
    border: 1px solid #00d000;
    transition: all .7s ease;
}

.fa-bandcamp {
    color: #1ea0c3;
    border: 1px solid transparent;
    padding: 5px;
}

.fa-bandcamp:hover {
    color: white;
    background: #1ea0c3;
    border-radius: 20%;
    border: 1px solid #1ea0c3;
    transition: all .7s ease;
}

.fa-apple {
    color: #f4f4f4;
    border: 1px solid transparent;
    padding: 5px;
}

.fa-apple:hover {
    color: black;
    background: #f4f4f4;
    border-radius: 20%;
    border: 1px solid #f4f4f4;
    transition: all .7s ease;
}

.fa-amazon {
    color: #008dd0;
    border: 1px solid transparent;
    padding: 5px;
}


.fa-amazon:hover {
    color: white;
    background: #008dd0;
    border-radius: 20%;
    border: 1px solid #008dd0;
    transition: all .7s ease;
}

#leftSide {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: rgba(0,0,0,.97);
}

#rightSide {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: rgba(0,0,0,.97);
}

.photoContainer {

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoIframe {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 0%;
  padding-top: 2%;
  height: 80% !important;
}

.fb-video {
  text-align: center;
}

.sectionText {
  font-size: 14px;
  color: #eee;
  padding-left: 12%;
  margin: 0 auto;
  max-width: 1000px;
  padding-right: 12%;
  text-align: justify;
  padding-bottom: 15px;
  padding-top: 10px;
  word-wrap: break-word;
}

.sectionImg {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
}

.sectionPostTitle {
    font-size: 22px;
    color: #c7c7c7;
    font-family: phosphate;
}

.sectionDate {
    color: #458496;
}

.sectionPost {
    padding: 15px;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
    border-top: 1px solid #292929;
    text-align: center;
}

#newsPosts {
    padding: 20px;
}

#main {
    margin-right: 15%;
    margin-left: 15%;
}

#footer {
    height: 150px;
    background: #000;
    width: 100%;
}

#tourDates {
    padding: 40px;
    padding-right: 10%;
    padding-left: 10%;
}

.tourListing {
    font-size: 16px;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
    border-bottom: 1px solid #292929;
    padding: 30px;
    color: #f1f1f1;
}

.dropShadow {
    box-shadow: 0 2px 10px rgba(0,0,0,.5);
}

.mainButton {
  background: transparent;
  border: 1px solid #c7c7c7;
  color: white !important;
  width: 100px;
  padding: 10px;
  margin: 0 auto;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.mainButton a {
  color: white;
}

.mainButton:hover a {
  color: black;
  text-decoration: none;
}

.mainButton:hover {
  background: white;
  border: 1px solid black;
  color: black !important;
}
