<div class="socialButtons" style="border-bottom: 1px solid #458496; margin-bottom: 25px;">
  <span class="socialButton">
    <a href="https://www.facebook.com/pg/dizzybangers" class="fab fa-facebook"></a>
  </span>
  <span class="socialButton">
    <a href="https://www.instagram.com/dizzybangers/" class="fab fa-instagram"></a>
  </span>
  <span class="socialButton">
    <a href="https://open.spotify.com/artist/2bMWz8xtzd55xovCFIePcA" class="fab fa-spotify"></a>
  </span>
  <span class="socialButton">
    <a href="https://thedizzybangers.bandcamp.com" class="fab fa-bandcamp"></a>
  </span>
  <span class="socialButton">
    <a href="https://www.youtube.com/channel/UC9d5cuWr__wQCUNJyLvsmZg" class="fab fa-youtube"></a>
  </span>
  <span class="socialButton">
    <a href="mailto:dizzybangers@gmail.com" class="fa fa-envelope"></a>
  </span>
</div>

<!-- Main View -->
<div id="mainView">

  <div id="main" class="section" style="margin-bottom: 20px ">
    <div class="col-xs-12" style="text-align: center; border-bottom: 1px solid #458496; margin-bottom: 50px; padding: 0; padding-bottom: 25px">
      <img class="col-xs-4" style="padding: 4px" src="/img/DSC06119-2.jpg" width="300px"/>
      <img class="col-xs-4" style="padding: 4px" src="/img/_DSC3120-2.jpg" width="300px"/>
      <img class="col-xs-4" style="padding: 4px" src="/img/DSC06240-2.jpg" width="300px"/>
    </div>
    <div class="col-xs-12" style="text-align: center;">
      <!--<img src="/img/texas-mist.png" style="width: 100%; max-width: 600px">-->

      <div class="col-xs-12 col-sm-6">
        <a href="https://open.spotify.com/album/6PH37sMKv0ILJBW2uvYvRe?highlight=spotify:track:2j3yRAwDorZtKEUfAwrPAE">
          <img src="/img/hindsights2020.jpg" style="width: 100%; max-width: 500px">
          <!--<img src="/img/NewSingleBoots.png" style="width: 100%; max-width: 200px">-->
        </a>
      </div>
      <div class="col-xs-12 col-sm-6" style="padding-top: 5%; font-family: phosphate; color: white;">
        <!--<a href="https://open.spotify.com/album/6PH37sMKv0ILJBW2uvYvRe?highlight=spotify:track:2j3yRAwDorZtKEUfAwrPAE"><img src="/img/UnderTheSorrowAvailableNow.png" style="width: 100%; max-width: 400px"></a>-->
        <!--<a href=""><div class="mainButton dropShadow" style="">Click Here</div></a>-->
        <h1>HINDSIGHT'S 2020</h1>
        <h3>COMPILATION ALBUM<br>AVAILABLE NOW</h3>
        <div class="col-xs-12" style="font-size: 35px; padding-top: 20px;">
          <a href="https://thedizzybangers.bandcamp.com/releases" class="col-xs-3"><i class="fab fa-bandcamp"></i></a>
          <a href="https://open.spotify.com/album/1fauD4Y7DMneeFJ4rFNuSz" class="col-xs-3"><i class="fab fa-spotify"></i></a>
          <a href="https://music.youtube.com/playlist?list=OLAK5uy_lmOGDnkObQJkic2v8q9aovVtuZTG1uKW0" class="col-xs-3"><i class="fab fa-youtube"></i></a>
          <a href="https://music.amazon.ca/albums/B08YCZSWG8" class="col-xs-3"><i class="fab fa-amazon"></i></a>

        </div>
        <!--<div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/K_Ufj8gQdgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>-->
      </div>
      <div class="col-xs-12" style="padding-top: 20px">
        </div>
    </div>
    <div class="col-xs-12" style="">


    </div>
  </div>
  <!-- News Section -->
  <div id="news" class="section">
    <h2 class="sectionTitle">NEWS</h2>
    <div id="newsPosts" class="col-xs-12">
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">03.14.21</div>
        <div class="sectionPostTitle">COME AND TAKE IT LIVE - SECOND SHOW</div>
        <div class="sectionText">
          <p>Thank y'all so much for coming out to our show at Come And Take It Live!</p>
          <p>Great to meet new fans and bands alike.</p>
          <p>Shoutout to <a href="https://www.instagram.com/photos_by_mkay/?hl=en">Photos_by_Mkay</a> for the amazing photography.</p>
            <div class="col-xs-12" style="text-align: center">
            <img src="/img/DSC06039-2.jpg" width="300px"/>
          </div>
        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">03.11.21</div>
        <div class="sectionPostTitle">Rock Attack Radio</div>
        <div class="sectionText">
          <p>We are being featured on the Stoner & Co radio from France, Rock Attack Radio. We appreciate the love!!!</p>
          <p>Rock Attack Radio: <a href="https://www.rockattack.fr/">https://www.rockattack.fr/</a></p>
          <p>Stoner & Co: <a href="https://www.facebook.com/MyStonerAndCo/">https://www.facebook.com/MyStonerAndCo/</a></p>
          <div class="col-xs-12" style="text-align: center">
            <img src="/img/stoner-promo.jpg" width="300px"/>
          </div>
        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">03.08.21</div>
        <div class="sectionPostTitle">Cowboy's Juke Joint Radio</div>
        <div class="sectionText">
          <p>Our song “5432Love” is being featured on The Cowboy’s Juke Joint Radio Discord Server.</p>
          <p>We appreciate the love!</p>
          <p>From Cowboy's Juke Joint Radio:</p>
          <p>#NowPlaying The Dizzy Bangers - (5432 Love) live on <a href="www.cowboysjukejoint.com">www.cowboysjukejoint.com</a></p>
          <p>Please help share this with your fans to help build the radio station so more can hear this awesome music. Also join our discord chat <a href="dsc.gg/cowboysjukejoint">dsc.gg/cowboysjukejoint</a></p>

        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">03.04.21</div>
        <div class="sectionPostTitle">HINDSIGHT'S 2020 IS AVAILABLE NOW</div>
        <div class="sectionText">
          <p>Today is BANDCAMP FRIDAY.</p>
          <p>Every first Friday of the month, Bandcamp withholds its revenue share for every sale that is made for 24 hours. And today is the perfect day for us to officially announce that our new compilation IS AVAILABLE NOW!!!</p>
          <p>As we are moving into a new chapter in our journey, the help we get from sales will offer us more time to give more to you in the long run. If you love what you hear, then we would be most appreciative if you support us and share this post with everyone you know.</p>
          <p>As the rock n' roll music scene begins to re-emerge out of the shadows cast by the pandemic here in Austin, your support will be the driving force for all we do going forward.</p>
          <p>Thank you and ROCK ON!!!</p>
          <div class="col-xs-12" style="text-align: center">
            <img src="/img/hindsights2020.jpg" width="300px"/>
          </div>
        </div>
      </div>

      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">02.27.21</div>
        <div class="sectionPostTitle">NEW SINGLE - QUARANTINE</div>
        <div class="sectionText">
          <p>THE NEW SINGLE IS AVAILABLE TO STREAM AND PURCHASE NOW!</p>
          <p><a href="https://open.spotify.com/track/6YmsyKzW8PUT4bysKXm7OU?si=kAq0-dIbQFSQKZC_OuE8wA&nd=1">https://open.spotify.com/track/6YmsyKzW8PUT4bysKXm7OU?si=kAq0-dIbQFSQKZC_OuE8wA&nd=1</a></p>
          <p>SUPPORT US BY DOWNLOADING IT TO YOUR COLLECTION:</p>
          <p><a href="https://thedizzybangers.bandcamp.com/track/quarantine">https://thedizzybangers.bandcamp.com/track/quarantine</a></p>
          <p>We are extremely excited to share our new single with you all.</p>
          <p>We worked very hard on it and it's one of our proudest moments.</p>
          <p>SHARE FAR AND WIDE AND ROCK ON!!!</p>
          <div class="col-xs-12" style="text-align: center">
            <img src="/img/quarantine-single.png" width="300px"/>
          </div>
        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">02.23.21</div>
        <div class="sectionPostTitle">COBRACAST PODCAST WITH BOBBY SHARRON</div>
        <div class="sectionText">
          <p>Here's the podcast episode for everyone who missed it. We had a blast!</p>
          <p>Thanks again for having us and we look forward to hanging out again. Hopefully sooner than later.</p>
          <p>Video: <a href="https://www.facebook.com/CobraCastPodcast/videos/1059707277883854/">https://www.facebook.com/CobraCastPodcast/videos/1059707277883854/</a></p>
          <p>Audio: <a href="https://cobracastpodcast.libsyn.com/354-the-dizzy-bangers-jimi-richard-and-kyle">https://cobracastpodcast.libsyn.com/354-the-dizzy-bangers-jimi-richard-and-kyle</a></p>
        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">02.21.21</div>
        <div class="sectionPostTitle">NEW SINGLE PREMIERE ON THE COBRACAST PODCAST</div>
        <div class="sectionText">
          <p>Tomorrow we will be chatting it up with CobraCast Podcast with Bobby Sharron!</p>
          <p>We will also be premiering our BRAND NEW SINGLE on the show before it hits the digital stores everywhere this FRIDAY!</p>
          <p>Be sure to check out the podcast here: <a href="https://www.facebook.com/CobraCastPodcast/">https://www.facebook.com/CobraCastPodcast/</a></p>
          <div class="fb-video" data-href="https://www.facebook.com/bobby.sharron/videos/10225057103474198/" data-width="560" data-show-text="false"><blockquote cite="https://developers.facebook.com/bobby.sharron/videos/10225057103474198/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/bobby.sharron/videos/10225057103474198/"></a><p>Tonight at 7:30 pm CST, on the ”CobraCast Podcast with Bobby Sharron”, Episode #354... My guests will be the boys from Dizzy Bangers... Jimi Dharma, Richard Mendoza and Kyle Vanderhoof... We will be Streaming LIVE on the Official CobraCast Podcast with Bobby Sharron FB Page, the CobraCast Forum and on YouTube https://www.youtube.com/BobbySharron... Please Share, Thanks!! 👊😜🤘🐍 Sponsored by Iron Wolf Ranch and Distillery</p>Posted by <a href="#" role="button">Bobby Sharron</a> on Monday, February 22, 2021</blockquote></div>
        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">02.01.21</div>
        <div class="sectionPostTitle">AWSTIN RAWK - BAND OF THE MONTH</div>
        <div class="sectionText">
          <p>Shout out to the folks at <a href="https://www.facebook.com/AwstinRawk/">Awstin Rawk</a> for making us the band of the month.</p>
          <p>We appreciate y'all!</p>
        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">01.25.21</div>
        <div class="sectionPostTitle">FIRST LIVE SHOW OF 2021</div>
        <div class="sectionText">
          <p>Last night was amazing and we are grateful for everyone that came out. It was our first show in nearly a year and it was euphoric to be back on stage again.</p>
          <p>Special thanks to Come and Take It Productions for having us.</p>
          <p>Special thanks to Traces Left for filming us on this stage.</p>
          <p>See you again soon!</p>
          <!-- Your embedded video player code -->
          <div class="fb-video" data-href="https://www.facebook.com/651959602/videos/10159006388444603/" data-width="560" data-show-text="true"><blockquote cite="https://developers.facebook.com/651959602/videos/10159006388444603/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/651959602/videos/10159006388444603/"></a><p>OMG they are so badass Dizzy Bangers. We&#039;re up next. Traces Left. Hard act to follow. Let&#039;s slam this shit!!! 🤘🤘🤘</p>Posted by <a href="https://www.facebook.com/profile.php?id=651959602">Clint Parker</a> on Sunday, January 24, 2021</blockquote></div>
        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">12.19.20</div>
        <div class="sectionPostTitle">WE RETURN TO THE STAGE</div>
        <div class="sectionText">
          <p>Sunday, January 24th: The Dizzy Bangers return to the live stage!</p>
          <p>Come join us. Every precaution has been set to make sure this event is safe for everyone involved!</p>
          <p>Support local music!!!</p>
          <div class="col-xs-12" style="text-align: center">
            <img src="/img/comeandtakeit-january-2.jpg" width="300px"/>
          </div>
        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">11.27.20</div>
        <div class="sectionPostTitle">NEW SINGLE - STARS</div>
        <div class="sectionText">
          <p>Our latest release 'Stars' is available everywhere!</p>
          <p>Please LIKE, COMMENT, AND SHARE this video to help spread the word.</p>
          <p>FOLLOW US ON SPOTIFY: <a href="https://open.spotify.com/artist/2bMWz8xtzd55xovCFIePcA…">https://open.spotify.com/artist/2bMWz8xtzd55xovCFIePcA…</a></p>
          <p>SUBSCRIBE TO OUR YOUTUBE: <a href="https://www.youtube.com/channel/UC9d5cuWr__wQCUNJyLvsmZg">https://www.youtube.com/channel/UC9d5cuWr__wQCUNJyLvsmZg</a></p>
          <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mFvifKbXwwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <!-- NEWS POST -->
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">11.04.20</div>
        <div class="sectionPostTitle">ANNOUNCING NEW SINGLE AND FIRST SHOW OF 2021</div>
        <div class="sectionText">
          <p>After taking time off for family as well as coming across some unexpected delays, we are back to announce our new single coming out on BLACK FRIDAY.</p>
          <p>And we are also excited to announce that we are returning to the stage.</p>
          <p>We will be playing our first show of 2021 at Come And Take It Live on Sunday, January 24th. The full lineup will be announced soon.</p>
          <p>This will be our first time at this AMAZING venue and we’ve been wanting to play a show here for a while. We are ready to kick off the holiday season and we hope y’all will join us.</p>
          <p>- The Dizzy Bangers</p>
          <div class="col-xs-12" style="text-align: center">
            <img src="/img/stars-single.jpg" width="300px"/>
            <img src="/img/comeandtakeit-january.jpg" width="300px"/>
          </div>
        </div>
      </div>
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">09.01.20</div>
        <div class="sectionPostTitle">NEW SINGLE - UNDER THE SORROW</div>
        <div class="sectionText">
          <p>Our new single 'Under The Sorrow' is AVAILABLE NOW on all streaming services!</p>
          <p><a href="https://open.spotify.com/album/6PH37sMKv0ILJBW2uvYvRe?si=3x0XcCiARd6L7bWUSv4BPQ">https://open.spotify.com/album/6PH37sMKv0ILJBW2uvYvRe</a></p>
          <p>We also released our very first music video to go with it!!! Check it out on YouTube:</p>
          <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K_Ufj8gQdgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>


      <div class="col-xs-12 sectionPost">
        <br>
        <a href="/#/news">SEE OLDER POSTS</a>
      </div>
    </div>

  </div>

  <!-- Tour Dates Section -->
  <div id="tour" class="section">
    <h2 class="sectionTitle">TOUR DATES</h2>
    <div class="sectionText" style="display: none">No upcoming tour dates...</div>
    <div id="tourDates" class="col-xs-12">
      <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Dizzy Bangers" data-display-local-dates="false" data-display-past-dates="true" data-auto-style="false" data-text-color="#FFFFFF" data-link-color="#888" data-background-color="rgba(0,0,0,0)" data-display-limit="10" data-display-start-time="false" data-link-text-color="#FFFFFF" data-display-lineup="false" data-display-play-my-city="true" data-separator-color="rgba(124,124,124,0.25)"></a>

    </div>
  </div>

  <!-- Music Section -->
  <div id="music" class="section">
    <h2 class="sectionTitle">MUSIC</h2>
    <br>
    <!--
    <div class="sectionPostTitle col-xs-12" style="text-align: center;">2020 SINGLE RELEASES</div>
    <hr class="col-xs-12" />
    <div class="singleButtons col-xs-12" style="text-align: center">
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://open.spotify.com/album/41ujGqbJCbOVHq0whbt5Ei?si=n9h7zxf5SvSJMUKLV4aA-g" target="_blank"><img src="/img/quarantine-single.png" style="width: 100%; max-width: 250px"></a>
        <a href="https://open.spotify.com/album/41ujGqbJCbOVHq0whbt5Ei?si=n9h7zxf5SvSJMUKLV4aA-g" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://open.spotify.com/album/6PH37sMKv0ILJBW2uvYvRe?highlight=spotify:track:2j3yRAwDorZtKEUfAwrPAE" target="_blank"><img src="/img/UnderTheSorrow.jpg" style="width: 100%; max-width: 250px"></a>
        <a href="https://open.spotify.com/album/6PH37sMKv0ILJBW2uvYvRe?highlight=spotify:track:2j3yRAwDorZtKEUfAwrPAE" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://ampl.ink/qpnzV" target="_blank"><img src="/img/BootsAH.jpeg" style="width: 100%; max-width: 250px"></a>
        <a href="https://ampl.ink/qpnzV" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://ampl.ink/1jBoR" target="_blank"><img src="/img/5432Love.jpg" style="width: 100%; max-width: 250px"></a>
        <a href="https://ampl.ink/1jBoR" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://ampl.ink/4xwRV" target="_blank"><img src="/img/PerfectLover.jpg" style="width: 100%; max-width: 250px"></a>
        <a href="https://ampl.ink/4xwRV" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://ampl.ink/emO1p" target="_blank"><img src="/img/BootsOfMayhem.jpg" style="width: 100%; max-width: 250px"></a>
        <a href="https://ampl.ink/emO1p" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://ampl.ink/qpVkE" target="_blank"><img src="/img/LastManStanding.jpeg" style="width: 100%; max-width: 250px"></a>
        <a href="https://ampl.ink/qpVkE" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
    </div>
    -->

    <div class="sectionPostTitle col-xs-12" style="text-align: center;">ALBUMS</div>
    <hr class="col-xs-12" />
    <div class="singleButtons col-xs-12" style="text-align: center">
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://ampl.ink/Q0yBa" target="_blank"><img src="/img/hindsights2020.jpg" style="width: 100%; max-width: 250px"></a>
        <a href="https://ampl.ink/Q0yBa" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://open.spotify.com/album/0hnAd0ZCfOFtoOv3HHDGc8?si=Cq94WIzsSCebjz4Y1xVloA" target="_blank"><img src="/img/EraOfHeathen.jpeg" style="width: 100%; max-width: 250px"></a>
        <a href="https://open.spotify.com/album/0hnAd0ZCfOFtoOv3HHDGc8?si=Cq94WIzsSCebjz4Y1xVloA" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://open.spotify.com/album/3OEDTveZyPqqGeYbDa1blF?si=dFgZFfcASeeJEcHbPG-XUw" target="_blank"><img src="/img/AllOutOfFakeSmiles.jpeg" style="width: 100%; max-width: 250px"></a>
        <a href="https://open.spotify.com/album/3OEDTveZyPqqGeYbDa1blF?si=dFgZFfcASeeJEcHbPG-XUw" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
    </div>
    <hr class="col-xs-12" />
    <div class="sectionPostTitle col-xs-12" style="text-align: center;">SINGLES</div>
    <hr class="col-xs-12" />
    <div class="singleButtons col-xs-12" style="text-align: center">
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://open.spotify.com/album/6SQ7UD49GgQJ9ZuwDOeDNN?si=blHEzqCCSuqbxTKiDJUuEA" target="_blank"><img src="/img/OneOfThoseDays.jpeg" style="width: 100%; max-width: 250px"></a>
        <a href="https://open.spotify.com/album/6SQ7UD49GgQJ9ZuwDOeDNN?si=blHEzqCCSuqbxTKiDJUuEA" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://open.spotify.com/album/1geFEMLUHAZmN2vajxS8oL?si=Z6vGf1l8TCmc6k5KXtJ9nQ" target="_blank"><img src="/img/Kismet.jpeg" style="width: 100%; max-width: 250px"></a>
        <a href="https://open.spotify.com/album/1geFEMLUHAZmN2vajxS8oL?si=Z6vGf1l8TCmc6k5KXtJ9nQ" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://open.spotify.com/album/6GRo3NaAK39w1nQ4OhFg2t?si=MegVcWcuSr6hT_8YGEMM1Q" target="_blank"><img src="/img/CallingMe.jpeg" style="width: 100%; max-width: 250px"></a>
        <a href="https://open.spotify.com/album/6GRo3NaAK39w1nQ4OhFg2t?si=MegVcWcuSr6hT_8YGEMM1Q" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://open.spotify.com/album/7btlwiZSm3AlwnRoss93s5?si=BrKqaonkSu20lMHrh97ZPQ" target="_blank"><img src="/img/Hypnotize.jpeg" style="width: 100%; max-width: 250px"></a>
        <a href="https://open.spotify.com/album/7btlwiZSm3AlwnRoss93s5?si=BrKqaonkSu20lMHrh97ZPQ" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
      <div class="singleButton col-xs-12 col-sm-3">
        <a href="https://open.spotify.com/album/5lep8kQpCrwL0qfi1NCoKu?si=6FfShdwoRm6Kb89FXPdN0g" target="_blank"><img src="/img/TheCity.jpeg" style="width: 100%; max-width: 250px"></a>
        <a href="https://open.spotify.com/album/5lep8kQpCrwL0qfi1NCoKu?si=6FfShdwoRm6Kb89FXPdN0g" target="_blank"><div class="listenButton dropShadow">Listen</div></a>
      </div>
    </div>


  </div>

  <!-- Video Section -->
  <div id="videos" class="section">
    <h2 class="sectionTitle">VIDEOS</h2>
    <div class="col-xs-12 col-sm-6">
      <div class="sectionPostTitle col-xs-12" style="text-align: center; margin-top: 20px;">STARS - LYRIC VIDEO</div>
      <div class="videoWrapper col-xs-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mFvifKbXwwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="sectionPostTitle col-xs-12" style="text-align: center; margin-top: 20px;">UNDER THE SORROW</div>
      <div class="videoWrapper col-xs-12" >
        <iframe width="560" height="315" class="videoIframe" src="https://www.youtube.com/embed/K_Ufj8gQdgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="sectionPostTitle col-xs-12" style="text-align: center; margin-top: 20px;">MORE THAN SKIN</div>
      <div class="videoWrapper col-xs-12" >
        <iframe width="560" height="315" class="videoIframe" src="https://www.youtube.com/embed/47kmHO9CNDw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

  </div>
  <!-- Band Section -->
  <div id="band" class="section">
    <h2 class="sectionTitle">THE BAND</h2>
    <br>
    <div class="sectionPostTitle" style="text-align: center;">BIO</div>
    <div class="sectionText">
      <p>The Dizzy Bangers are an Austin, Texas based rock and roll band, encompassing grunge, blues and hard psychedelic textures. Lyrics can be described as retrospective, dreamy and poetic, delivered by a haunting rock and roll voice.</p>
      <p>The Dizzy Bangers formed in early 2012 when frontman Jimi Dharma began jamming and producing a handful of ideas with drummer Chad Goins. After turning Chad’s home office into a drum recording studio, Jimi moved to Costa Rica to focus on guitar, bass and vocal production. The two were able to remotely produce ‘Era of Heathen,’ their debut album in the summer of 2013.</p>

      <p>Now stateside, current members are:</p>
      <div style="border: 1px solid #292929; border-radius: 5px; padding: 20px; margin: 20px auto; max-width: 500px; text-align: center; box-shadow: inset 150px 0px 150px -50px #171717, inset -150px 0px 150px -50px #171717">
        <p>Jimi Dharma - Vocals/Guitar</p>
        <p>RJM - Bass/Backing Vox</p>
        <p>Kyle Vanderhoof - Drums</p>
      </div>

      <p>With a wealth of new material, and a compilation album of singles under our belt, The Dizzy Bangers are currently working on another record. Expected for release in late 2021. Check out our brand new album "Hindsight's 2020", and look out for show dates in central Texas and beyond.</p>
    </div>
    <div class="col-xs-12" style="text-align: center">

      <img src="/img/DBPic.jpg" width="300px"/>
    </div>
  </div>

</div>
