<div class="socialButtons">
  <span class="socialButton">
    <a href="https://www.facebook.com/pg/dizzybangers" class="fab fa-facebook"></a>
  </span>
  <span class="socialButton">
    <a href="https://www.instagram.com/dizzybangers/" class="fab fa-instagram"></a>
  </span>
  <span class="socialButton">
    <a href="https://open.spotify.com/artist/2bMWz8xtzd55xovCFIePcA" class="fab fa-spotify"></a>
  </span>
  <span class="socialButton">
    <a href="https://www.youtube.com/channel/UC9d5cuWr__wQCUNJyLvsmZg" class="fab fa-youtube"></a>
  </span>
  <span class="socialButton">
    <a href="mailto:dizzybangers@gmail.com" class="fa fa-envelope"></a>
  </span>
</div>

<!-- Main View -->
<div id="mainView">

  <div id="main" class="section" style="margin-bottom: 20px ">

    <div class="col-xs-12" style="text-align: center;">
      <img src="/img/texas-mist.png" style="width: 100%; max-width: 600px">
      <!--
      <div class="sectionPostTitle" style="color: #FFF; font-size: 20px">The Dizzy Bangers are in the studio!</div>
      <div id="myCarousel" class="carousel slide dropShadow" data-ride="carousel" style="margin: 20px auto; max-width: 500px; box-shadow: 0 2px 10px rgba(0,0,0,.5)">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="/img/JimiStudio.jpg" alt="Jimi in the studio" style="width:100%;">
          </div>
          <div class="item">
            <img src="/img/KyleStudio.jpg" alt="Kyle in the studio" style="width:100%;">
          </div>
          <div class="item">
            <img src="/img/RJMStudio2.jpg" alt="RJM in the studio" style="width:100%;">
          </div>
          <div class="item">
            <img src="/img/RecordingStation.jpg" alt="Recording" style="width:100%;">
          </div>
          <div class="item">
            <img src="/img/RJMStudio.jpg" alt="Bass" style="width:100%;">
          </div>
          <div class="item">
            <img src="/img/KyleStudio2.png" alt="Drums" style="width:100%;">
          </div>
          <div class="item">
            <img src="/img/JamRoom.jpg" alt="Jam Room" style="width:100%;">
          </div>

        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      -->
    </div>
    <div class="col-xs-12" style="">
      <div class="sectionText" style="font-size: 16px">Available Music:</div>
      <div style="text-align: center">
        <div style="margin-top: 10px; display: inline-block; width: 250px;">
          <div class="sectionText">EP: ALL OUT OF FAKE SMILES</div>
          <a href="https://ampl.ink/gyy8J"><img src="/img/AllOutOfFakeSmiles.jpeg" class="dropShadow" width="200px"/></a>
        </div>
        <div style="margin-top: 10px; display: inline-block; width: 250px;">
          <div class="sectionText">FULL LP: ERA OF HEATHEN</div>
          <a href="https://ampl.ink/71q0J"><img src="/img/EraOfHeathen.jpeg" class="dropShadow" width="200px"/></a>
        </div>
      </div>

    </div>
  </div>
  <!-- News Section -->
  <div id="news" class="section">
    <h2 class="sectionTitle">NEWS</h2>
    <div id="newsPosts" class="col-xs-12">
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">01.11.20</div>
        <div class="sectionPostTitle">Dizzy Bangers 2020</div>
        <div class="sectionText">
          <p>The Dizzy Bangers are hitting the ground running this year! We've already had 2 amazing shows this month, and we are feeling stronger than ever!</p>
          <p>Thanks to everyone who came to the shows to support us!</p>
          <p>Stay tuned for upcoming event details!!!</p>
          <a href="https://www.instagram.com/p/B7LzsZ7FrX3/">https://www.instagram.com/p/B7LzsZ7FrX3/</a>
        </div>
      </div>
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">10.29.19</div>
        <div class="sectionPostTitle">Upcoming Show</div>
        <div class="sectionText">We have a new show booked for January 3rd at the Carousel Lounge! Come rock out with us! Event details coming soon.</div>
      </div>
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">10.14.19</div>
        <div class="sectionPostTitle">Working On New Music</div>
        <div class="sectionText">We are officially in the studio! Tracking for drums has started, and we are hoping to have a new EP ready before the new year. Fingers crossed!</div>
      </div>
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">10.12.19</div>
        <div class="sectionPostTitle">Texas Mist Feedback</div>
        <div class="sectionText">Texas Mist was a success! We received more amazing feedback from one of our fellow musicians who played with us that day.
          <p></p><p>"Local three-piece that is super-tight with good direction. The day after playing with them I heard the new Tool album and thought
          to myself 'Man I'd rather listen to Dizzy Bangers any day.' But that's just me." - Robert Hamilton Thayer</p>
          <a href="https://www.instagram.com/p/B3hrOWBFXOB/">https://www.instagram.com/p/B3hrOWBFXOB/</a>
        </div>
      </div>
      <div class="col-xs-12 sectionPost">
        <div class="sectionDate">10.03.19</div>
        <div class="sectionPostTitle">Carousel Lounge Feedback</div>
        <div class="sectionText">Had a blast rockin' out at the Carousel Lounge! Here is a snippet of some feedback we were sent afterwards:
        <p></p><p>"Raw yet polished, with a driving energy. The lead singer delivers effortlessly with a great vibrato that sounds awesome just when the songs
          need it to. Fan-tas-tic drummer (repeat that for emphasis) and the bass player's smile makes us all enjoy the music as much as he does. Can't wait to see y'all
          at another show and buy another CD."</p>
          <a href="https://www.instagram.com/p/B3KLXNilAEr/">https://www.instagram.com/p/B3KLXNilAEr/</a>
        </div>
      </div>
      <div class="col-xs-12 sectionPost">
        <br>
        <a href="/#/news">SEE OLDER POSTS</a>
      </div>
    </div>

  </div>

  <!-- Tour Dates Section -->
  <div id="tour" class="section">
    <h2 class="sectionTitle">TOUR DATES</h2>
    <div class="sectionText" style="display: none">No upcoming tour dates...</div>
    <div id="tourDates" class="col-xs-12">
      <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Dizzy Bangers" data-display-local-dates="false" data-display-past-dates="true" data-auto-style="false" data-text-color="#FFFFFF" data-link-color="#888" data-background-color="rgba(0,0,0,0)" data-display-limit="10" data-display-start-time="false" data-link-text-color="#FFFFFF" data-display-lineup="false" data-display-play-my-city="true" data-separator-color="rgba(124,124,124,0.25)"></a>

    </div>
  </div>

  <!-- Music Section -->
  <div id="music" class="section">
    <h2 class="sectionTitle">MUSIC</h2>
    <div style="text-align: center; padding: 20px">
      <div class="" style="text-align: center; padding: 10px; display: inline-block;">
        <iframe src="https://open.spotify.com/embed/album/3OEDTveZyPqqGeYbDa1blF" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="" style="text-align: center; padding: 10px; display: inline-block;">
        <iframe src="https://open.spotify.com/embed/album/0hnAd0ZCfOFtoOv3HHDGc8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>

  </div>

  <!-- Band Section -->
  <div id="band" class="section">
    <h2 class="sectionTitle">THE BAND</h2>
    <br>
    <div class="sectionText">
      <p>The Dizzy Bangers are an Austin, Texas based rock and roll band, encompassing grunge, blues and hard psychedelic textures. Lyrics can be described as retrospective, dreamy and poetic, delivered by a haunting rock and roll voice.</p>
      <p>The Dizzy Bangers formed in early 2012 when frontman Jimi Dharma began jamming and producing a handful of ideas with drummer Chad Goins. After turning Chad’s home office into a drum recording studio, Jimi moved to Costa Rica to focus on guitar, bass and vocal production. The two were able to remotely produce ‘Era of Heathen,’ their debut album in the summer of 2013.</p>

      <p>Now stateside, current members are:</p>
      <div style="border: 1px solid #292929; border-radius: 5px; padding: 20px; margin: 20px auto; max-width: 500px;">
        <p>Jimi Dharma - Vocals/Guitar</p>
        <p>RJM - Bass/Backing Vox</p>
        <p>Kyle Vanderhoof - Drums</p>
      </div>

      <p>With a wealth of new material, The Dizzy Bangers are working on another record, expected for release 2020. Check out 5 new singles released on Spotify, and look out for show dates in central Texas and beyond.</p>
    </div>
    <div class="col-xs-12" style="text-align: center">

      <img src="/img/PointDB.jpg" width="300px"/>
    </div>
  </div>

</div>

