<!-- News Section -->
<div id="news" class="section">
  <h2 class="sectionPageTitle">NEWS</h2>
  <div id="newsPosts" class="col-xs-12">
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">03.10.22</div>
      <div class="sectionPostTitle">DIZZY MERCHANDISE</div>
      <div class="sectionText">
        <p>T-SHIRTS HAVE ARRIVED! Available in Black, Charcoal, Mint, Vintage White & Natural!</p>
        <p>T-Shirts! Hats! CD's! Bumper Stickers! Combo Packs! All in Stock! Ready to ship to all 50 states! (Outside USA shoppers: Email us at dizzybangers@gmail.com for custom international shipping package)</p>
        <p>Help support and fundraise more rock n' roll music, videos and content by getting some Dizzy Bangin' Swag and Tunes! Thank you so much to all our fans! Your support is what makes all of this possible!</p>
        <p><a href="https://dizzybangers.square.site">https://dizzybangers.square.site</a></p>
        <div class="col-xs-12" style="text-align: center">
          <img src="/img/merch.jpg" width="300px"/>
        </div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">-2.10.22</div>
      <div class="sectionPostTitle">NEW SINGLE - PAINTED BRUISES</div>
      <div class="sectionText">
        <p>PAINTED BRUISES IS OFFICIALLY OUT NOW!!!</p>
        <p>CLICK THE LINK------>https://ampl.ink/v3wpn</p>
        <p>This song was...and is...the catalyst for everything that sets the tone for who we are as a band and where we're going. This is only the beginning!</p>
        <div class="col-xs-12" style="text-align: center">
          <img src="/img/painted-bruises.jpg" width="300px"/>
        </div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">12.25.21</div>
      <div class="sectionPostTitle">NEW MUSIC VIDEO - STUCK ON YOU (FAILURE COVER)</div>
      <div class="sectionText">
        <p>Happy Holidays!</p>
        <p>We recorded a cover of Stuck On You by Failure recently, so we decided to put together a silly music video for it!</p>
        <p>The Dizzy Bangers are gonna be stuck on you this Christmas!!</p>
        <div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/pX_Oa2ZbNZ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">03.14.21</div>
      <div class="sectionPostTitle">COME AND TAKE IT LIVE - SECOND SHOW</div>
      <div class="sectionText">
        <p>Thank y'all so much for coming out to our show at Come And Take It Live!</p>
        <p>Great to meet new fans and bands alike.</p>
        <p>Shoutout to <a href="https://www.instagram.com/photos_by_mkay/?hl=en">Photos_by_Mkay</a> for the amazing photography.</p>
          <div class="col-xs-12" style="text-align: center">
          <img src="/img/DSC06039-2.jpg" width="400px"/>
        </div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">03.11.21</div>
      <div class="sectionPostTitle">Rock Attack Radio</div>
      <div class="sectionText">
        <p>We are being featured on the Stoner & Co radio from France, Rock Attack Radio. We appreciate the love!!!</p>
        <p>Rock Attack Radio: <a href="https://www.rockattack.fr/">https://www.rockattack.fr/</a></p>
        <p>Stoner & Co: <a href="https://www.facebook.com/MyStonerAndCo/">https://www.facebook.com/MyStonerAndCo/</a></p>
        <div class="col-xs-12" style="text-align: center">
          <img src="/img/stoner-promo.jpg" width="300px"/>
        </div>
      </div>
    </div>

    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">03.08.21</div>
      <div class="sectionPostTitle">Cowboy's Juke Joint Radio</div>
      <div class="sectionText">
        <p>Our song “5432Love” is being featured on The Cowboy’s Juke Joint Radio Discord Server and 512 Radio!</p>
        <p>We appreciate the love!</p>
        <p>From Cowboy's Juke Joint Radio:</p>
        <p>#NowPlaying The Dizzy Bangers - (5432 Love) live on <a href="www.cowboysjukejoint.com">www.cowboysjukejoint.com</a></p>
        <p>Please help share this with your fans to help build the radio station so more can hear this awesome music. Also join our discord chat <a href="dsc.gg/cowboysjukejoint">dsc.gg/cowboysjukejoint</a></p>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">03.04.21</div>
      <div class="sectionPostTitle">HINDSIGHT'S 2020 IS AVAILABLE NOW</div>
      <div class="sectionText">
        <p>Today is BANDCAMP FRIDAY.</p>
        <p>Every first Friday of the month, Bandcamp withholds its revenue share for every sale that is made for 24 hours. And today is the perfect day for us to officially announce that our new compilation IS AVAILABLE NOW!!!</p>
        <p>As we are moving into a new chapter in our journey, the help we get from sales will offer us more time to give more to you in the long run. If you love what you hear, then we would be most appreciative if you support us and share this post with everyone you know.</p>
        <p>As the rock n' roll music scene begins to re-emerge out of the shadows cast by the pandemic here in Austin, your support will be the driving force for all we do going forward.</p>
        <p>Thank you and ROCK ON!!!</p>
        <div class="col-xs-12" style="text-align: center">
          <img src="/img/hindsights2020.jpg" width="300px"/>
        </div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">02.27.21</div>
      <div class="sectionPostTitle">NEW SINGLE - QUARANTINE</div>
      <div class="sectionText">
        <p>THE NEW SINGLE IS AVAILABLE TO STREAM AND PURCHASE NOW!</p>
        <p>STREAM IT AND ADD IT TO YOUR PLAYLIST:</p>
        <p><a href="https://open.spotify.com/track/6YmsyKzW8PUT4bysKXm7OU?si=kAq0-dIbQFSQKZC_OuE8wA&nd=1">https://open.spotify.com/track/6YmsyKzW8PUT4bysKXm7OU?si=kAq0-dIbQFSQKZC_OuE8wA&nd=1</a></p>
        <p>SUPPORT US BY DOWNLOADING IT TO YOUR COLLECTION:</p>
        <p><a href="https://thedizzybangers.bandcamp.com/track/quarantine">https://thedizzybangers.bandcamp.com/track/quarantine</a></p>
        <p>We are extremely excited to share our new single with you all.</p>
        <p>We worked very hard on it and it's one of our proudest moments.</p>
        <p>SHARE FAR AND WIDE AND ROCK ON!!!</p>
        <div class="col-xs-12" style="text-align: center">
          <img src="/img/quarantine-single.png" width="300px"/>
        </div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">02.23.21</div>
      <div class="sectionPostTitle">COBRACAST PODCAST WITH BOBBY SHARRON</div>
      <div class="sectionText">
        <p>Here's the podcast episode for everyone who missed it. We had a blast!</p>
        <p>Thanks again for having us and we look forward to hanging out again. Hopefully sooner than later.</p>
        <p>Video: <a href="https://www.facebook.com/CobraCastPodcast/videos/1059707277883854/">https://www.facebook.com/CobraCastPodcast/videos/1059707277883854/</a></p>
        <p>Audio: <a href="https://cobracastpodcast.libsyn.com/354-the-dizzy-bangers-jimi-richard-and-kyle">https://cobracastpodcast.libsyn.com/354-the-dizzy-bangers-jimi-richard-and-kyle</a></p>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">02.21.21</div>
      <div class="sectionPostTitle">NEW SINGLE PREMIERE ON THE COBRACAST PODCAST</div>
      <div class="sectionText">
        <p>Tomorrow we will be chatting it up with CobraCast Podcast with Bobby Sharron!</p>
        <p>We will also be premiering our BRAND NEW SINGLE on the show before it hits the digital stores everywhere this FRIDAY!</p>
        <p>Be sure to check out the podcast here: <a href="https://www.facebook.com/CobraCastPodcast/">https://www.facebook.com/CobraCastPodcast/</a></p>
        <div class="fb-video" data-href="https://www.facebook.com/bobby.sharron/videos/10225057103474198/" data-width="560" data-show-text="false"><blockquote cite="https://developers.facebook.com/bobby.sharron/videos/10225057103474198/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/bobby.sharron/videos/10225057103474198/"></a><p>Tonight at 7:30 pm CST, on the ”CobraCast Podcast with Bobby Sharron”, Episode #354... My guests will be the boys from Dizzy Bangers... Jimi Dharma, Richard Mendoza and Kyle Vanderhoof... We will be Streaming LIVE on the Official CobraCast Podcast with Bobby Sharron FB Page, the CobraCast Forum and on YouTube https://www.youtube.com/BobbySharron... Please Share, Thanks!! 👊😜🤘🐍 Sponsored by Iron Wolf Ranch and Distillery</p>Posted by <a href="#" role="button">Bobby Sharron</a> on Monday, February 22, 2021</blockquote></div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">02.04.21</div>
      <div class="sectionPostTitle">BIG SHOW ANNOUNCEMENT</div>
      <div class="sectionText">
        <p>We are stoked to announce our next show will take place on March 13th at Come and Take It Productions with The Lowdown Shakes, Black Heart Saints and Dizzy F'n Reed.</p>
        <p>This will be the biggest show we've ever done thus far. Tickets are limited as this is a socially distanced event. Better get them fast!!!</p>
        <p>FACEBOOK EVENT: <a href="https://www.facebook.com/events/415571869659414">https://www.facebook.com/events/415571869659414</a></p>
        <p>EVENTBRITE: <a href="https://www.eventbrite.com/e/dizzy-reed-of-guns-n-roses-tickets-140107761085">https://www.eventbrite.com/e/dizzy-reed-of-guns-n-roses-tickets-140107761085</a></p>
        <div class="col-xs-12" style="text-align: center">
          <img src="/img/comeandtakeit-march13.jpg" width="300px"/>
        </div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">02.01.21</div>
      <div class="sectionPostTitle">AWSTIN RAWK - BAND OF THE MONTH</div>
      <div class="sectionText">
        <p>Shout out to the folks at <a href="https://www.facebook.com/AwstinRawk/">Awstin Rawk</a> for making us the band of the month.</p>
        <p>We appreciate y'all!</p>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">01.25.21</div>
      <div class="sectionPostTitle">FIRST LIVE SHOW OF 2021</div>
      <div class="sectionText">
        <p>Last night was amazing and we are grateful for everyone that came out. It was our first show in nearly a year and it was euphoric to be back on stage again.</p>
        <p>Special thanks to Come and Take It Productions for having us.</p>
        <p>Special thanks to Traces Left for filming us on this stage.</p>
        <p>See you again soon!</p>
        <!-- Your embedded video player code -->
        <div class="fb-video" data-href="https://www.facebook.com/651959602/videos/10159006388444603/" data-width="560" data-show-text="true"><blockquote cite="https://developers.facebook.com/651959602/videos/10159006388444603/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/651959602/videos/10159006388444603/"></a><p>OMG they are so badass Dizzy Bangers. We&#039;re up next. Traces Left. Hard act to follow. Let&#039;s slam this shit!!! 🤘🤘🤘</p>Posted by <a href="https://www.facebook.com/profile.php?id=651959602">Clint Parker</a> on Sunday, January 24, 2021</blockquote></div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">12.19.20</div>
      <div class="sectionPostTitle">WE RETURN TO THE STAGE</div>
      <div class="sectionText">
        <p>Sunday, January 24th: The Dizzy Bangers return to the live stage!</p>
        <p>Come join us. Every precaution has been set to make sure this event is safe for everyone involved!</p>
        <p>Support local music!!!</p>
        <div class="col-xs-12" style="text-align: center">
          <img src="/img/comeandtakeit-january-2.jpg" width="300px"/>
        </div>
      </div>
    </div>
    <!-- NEWS POST -->
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">11.27.20</div>
      <div class="sectionPostTitle">NEW SINGLE - STARS</div>
      <div class="sectionText">
        <p>Our latest release 'Stars' is available everywhere!</p>
        <p>Please LIKE, COMMENT, AND SHARE this video to help spread the word.</p>
        <p>FOLLOW US ON SPOTIFY: <a href="https://open.spotify.com/artist/2bMWz8xtzd55xovCFIePcA…">https://open.spotify.com/artist/2bMWz8xtzd55xovCFIePcA…</a></p>
        <p>SUBSCRIBE TO OUR YOUTUBE: <a href="https://www.youtube.com/channel/UC9d5cuWr__wQCUNJyLvsmZg">https://www.youtube.com/channel/UC9d5cuWr__wQCUNJyLvsmZg</a></p>
        <div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/mFvifKbXwwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">11.04.20</div>
      <div class="sectionPostTitle">ANNOUNCING NEW SINGLE AND FIRST SHOW OF 2021</div>
      <div class="sectionText">
        <p>After taking time off for family as well as coming across some unexpected delays, we are back to announce our new single coming out on BLACK FRIDAY.</p>
        <p>And we are also excited to announce that we are returning to the stage.</p>
        <p>We will be playing our first show of 2021 at Come And Take It Live on Sunday, January 24th. The full lineup will be announced soon.</p>
        <p>This will be our first time at this AMAZING venue and we’ve been wanting to play a show here for a while. We are ready to kick off the holiday season and we hope y’all will join us.</p>
        <p>- The Dizzy Bangers</p>
        <div class="col-xs-12" style="text-align: center">
          <img src="/img/comeandtakeit-january.jpg" width="300px"/>
        </div>
      </div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">09.01.20</div>
      <div class="sectionPostTitle">NEW SINGLE - UNDER THE SORROW</div>
      <div class="sectionText">
        <p>Our new single 'Under The Sorrow' is AVAILABLE NOW on all streaming services!</p>
        <p><a href="https://open.spotify.com/album/6PH37sMKv0ILJBW2uvYvRe?si=3x0XcCiARd6L7bWUSv4BPQ">https://open.spotify.com/album/6PH37sMKv0ILJBW2uvYvRe</a></p>
        <p>We also released our very first music video to go with it!!! Check it out on YouTube:</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/K_Ufj8gQdgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">08.11.20</div>
      <div class="sectionPostTitle">Long Overdue Update</div>
      <div class="sectionText">
        <p>Hope everyone is doing well during these crazy times!</p>
        <p>We have been staying busy cranking out music the last few months, and we don't plan on stopping anytime soon. So far we have released 5 brand new Dizzy Banger songs!! We have many more on the way and some really cool new stuff in the works, so stay tuned!!</p>
        <p>Here's our recent releases in case you missed them:</p>
        <ul style="text-align: left">
          <li><strong>Boots of Mayhem "After Hours":</strong> <a href="https://ampl.ink/qpnzV">https://ampl.ink/qpnzV</a></li>
          <li><strong>5432 Love:</strong> <a href="https://ampl.ink/1jBoR">https://ampl.ink/1jBoR</a></li>
          <li><strong>Perfect Lover:</strong> <a href="https://ampl.ink/4xwRV">https://ampl.ink/4xwRV</a></li>
          <li><strong>Boots of Mayhem:</strong> <a href="https://ampl.ink/emO1p">https://ampl.ink/emO1p</a></li>
          <li><strong>Last Man Standing:</strong> <a href="https://ampl.ink/qpVkE">https://ampl.ink/qpVkE</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">01.11.20</div>
      <div class="sectionPostTitle">Dizzy Bangers 2020</div>
      <div class="sectionText">
        <p>The Dizzy Bangers are hitting the ground running this year! We've already had 2 amazing shows this month, and we are feeling stronger than ever!</p>
        <p>Thanks to everyone who came to the shows to support us!</p>
        <p>Stay tuned for upcoming event details!!!</p>
        <a href="https://www.instagram.com/p/B7LzsZ7FrX3/">https://www.instagram.com/p/B7LzsZ7FrX3/</a>
      </div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">10.29.19</div>
      <div class="sectionPostTitle">Upcoming Show</div>
      <div class="sectionText">We have a new show booked for January 3rd at the Carousel Lounge! Come rock out with us! Event details coming soon.</div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">10.14.19</div>
      <div class="sectionPostTitle">Working On New Music</div>
      <div class="sectionText">We are officially in the studio! Tracking for drums has started, and we are hoping to have a new EP ready before the new year. Fingers crossed!</div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">10.12.19</div>
      <div class="sectionPostTitle">Texas Mist Feedback</div>
      <div class="sectionText">Texas Mist was a success! We received more amazing feedback from one of our fellow musicians who played with us that day.
        <p></p><p>"Local three-piece that is super-tight with good direction. The day after playing with them I heard the new Tool album and thought
          to myself 'Man I'd rather listen to Dizzy Bangers any day.' But that's just me." - Robert Hamilton Thayer</p>
        <a href="https://www.instagram.com/p/B3hrOWBFXOB/">https://www.instagram.com/p/B3hrOWBFXOB/</a>
      </div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">10.03.19</div>
      <div class="sectionPostTitle">Carousel Lounge Feedback</div>
      <div class="sectionText">Had a blast rockin' out at the Carousel Lounge! Here is a snippet of some feedback we were sent afterwards:
        <p></p><p>"Raw yet polished, with a driving energy. The lead singer delivers effortlessly with a great vibrato that sounds awesome just when the songs
          need it to. Fan-tas-tic drummer (repeat that for emphasis) and the bass player's smile makes us all enjoy the music as much as he does. Can't wait to see y'all
          at another show and buy another CD."</p>
        <a href="https://www.instagram.com/p/B3KLXNilAEr/">https://www.instagram.com/p/B3KLXNilAEr/</a>
      </div>
    </div>
  </div>

</div>
