<!-- News Section -->
<div id="news" class="section">
  <h2 class="sectionTitle">NEWS</h2>
  <div id="newsPosts" class="col-xs-12">
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">01.11.20</div>
      <div class="sectionPostTitle">Dizzy Bangers 2020</div>
      <div class="sectionText">
        <p>The Dizzy Bangers are hitting the ground running this year! We've already had 2 amazing shows this month, and we are feeling stronger than ever!</p>
        <p>Thanks to everyone who came to the shows to support us!</p>
        <p>Stay tuned for upcoming event details!!!</p>
        <a href="https://www.instagram.com/p/B7LzsZ7FrX3/">https://www.instagram.com/p/B7LzsZ7FrX3/</a>
      </div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">10.29.19</div>
      <div class="sectionPostTitle">Upcoming Show</div>
      <div class="sectionText">We have a new show booked for January 3rd at the Carousel Lounge! Come rock out with us! Event details coming soon.</div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">10.14.19</div>
      <div class="sectionPostTitle">Working On New Music</div>
      <div class="sectionText">We are officially in the studio! Tracking for drums has started, and we are hoping to have a new EP ready before the new year. Fingers crossed!</div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">10.12.19</div>
      <div class="sectionPostTitle">Texas Mist Feedback</div>
      <div class="sectionText">Texas Mist was a success! We received more amazing feedback from one of our fellow musicians who played with us that day.
        <p></p><p>"Local three-piece that is super-tight with good direction. The day after playing with them I heard the new Tool album and thought
          to myself 'Man I'd rather listen to Dizzy Bangers any day.' But that's just me." - Robert Hamilton Thayer</p>
        <a href="https://www.instagram.com/p/B3hrOWBFXOB/">https://www.instagram.com/p/B3hrOWBFXOB/</a>
      </div>
    </div>
    <div class="col-xs-12 sectionPost">
      <div class="sectionDate">10.03.19</div>
      <div class="sectionPostTitle">Carousel Lounge Feedback</div>
      <div class="sectionText">Had a blast rockin' out at the Carousel Lounge! Here is a snippet of some feedback we were sent afterwards:
        <p></p><p>"Raw yet polished, with a driving energy. The lead singer delivers effortlessly with a great vibrato that sounds awesome just when the songs
          need it to. Fan-tas-tic drummer (repeat that for emphasis) and the bass player's smile makes us all enjoy the music as much as he does. Can't wait to see y'all
          at another show and buy another CD."</p>
        <a href="https://www.instagram.com/p/B3KLXNilAEr/">https://www.instagram.com/p/B3KLXNilAEr/</a>
      </div>
    </div>
  </div>

</div>