<!-- Photo Section -->
<div id="photos" class="section">
  <h2 class="sectionPageTitle">PHOTOS</h2>
  <h2 class="sectionTitle col-xs-12" style="margin-top: 0px">LIVE</h2>
  <div class="col-xs-12">
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/DSC06039-2.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/DSC06119-2.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/_DSC3120-2.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/DSC06240-2.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/_DSC3094-2.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/texas-mist.png" width="300px"/>
    </div>
  </div>
  <h2 class="sectionTitle col-xs-12" style="margin-top: 0px">BAND PICS</h2>
  <div class="col-xs-12">
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/dizzy-selfie.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/rehearsal-drums.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/acoustic-jamsesh.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/DBPic.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/LostWell.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/PointDB.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/PointDB.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/DBSquares.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/JimiStudio.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/RJMStudio2.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/KyleStudio.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/JamRoom.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/RJMStudio.jpg" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/KyleStudio2.png" width="300px"/>
    </div>
    <div class="photoContainer">
      <img class="col-xs-3" style="padding: 4px" src="/img/RecordingStation.jpg" width="300px"/>
    </div>

  </div>
</div>
